<!-- <div> -->

	<table style="height:100%">
		<tr>
			<td class="ordersSpace" rowspan="2">
				<h2>Order Space</h2>
			</td>
			<td class="printSpace">
				<app-print></app-print>
			</td>
		</tr>
		<tr>
			<td class="labelsSpace" valign="top">
				<app-label></app-label>
			</td>
		</tr>
	</table>
	<!-- 
	<script type="text/javascript">
		gridlist.style.height = bigcontainer.style.height;
	</script>
	<mat-grid-list cols="2" #gridlist rowHeight="fit">
		<mat-grid-tile [colspan]="1" [rowspan]="2" style="background-color: lightblue;">
			hi
		</mat-grid-tile>
		<mat-grid-tile [colspan]="1" [rowspan]="1" style="background-color: lightblue;">
			hi
		</mat-grid-tile>
		<mat-grid-tile [colspan]="1" [rowspan]="1" style="background-color: lightblue;">
			Hi
		</mat-grid-tile>
	</mat-grid-list> -->
<!-- </div> -->
